<div class="p-3 border rounded border-solid border-black">
  <div class="md:flex text-left">
    <div class="w-full md:w-1/2 my-8">
      <h2 class="mb-2">April 3<sup>rd</sup>, 2024</h2>
      <p>6:00pm - 9:00pm</p>
      <p class="mb-2"><a href="https://maps.app.goo.gl/HzXmEVfYHtasSzmd9" target="_blank">FinanceIt @ The Well<br>8 Spadina Ave, Toronto, ON M5V 2H6</a></p>
      <p class="mb-2"><strong>Please note that public access to the building is restricted at 7pm! Please arrive before then.</strong></p>
      <p class="mb-2">When you arrive at The Well, please take the high rise elevators (19-38) to the 24th floor to get to reception.</p>
      <p>Pizza and drinks provided.</p>
    </div>

    <div class="w-full md:w-1/2 my-8">
      <h2 class="mb-2">Agenda</h2>
  
      <p class="mb-0"><em>6:00pm - 7:00pm</em></p>
      <p class="ml-4">
        Arrive, chat, and get pizza
      </p>

      <p class="mb-0"><em>7:00pm - 7:30pm</em></p>
      <div class="ml-4">
        <div class="w-4/5 mt-2">
          <p>Presentation:</p>
          <p class="mb-0"><strong>Using Rails introspection to supercharge your editor</strong></p>
          <p>by <a class="underline text-ruby" href="https://www.andywaite.com/">Andy Waite</a>, Senior Developer at <a class="underline text-ruby" href="https://shopify.engineering/">Shopify</a>, Ruby Developer Experience team</p>
        </div>
      </div>

      <p class="mb-0"><em>7:30pm - ~8pm</em>
      <p class="ml-4">Q&amp;A</p>

      <p class="mb-0"><em>~8pm - End</em></p>
      <p class="ml-4">
      Closing announcements, &amp; Networking and drinks
      </p>

    </div>
  </div>
  <div class="mx-auto text-center">
    <div class="group-[.is-past]:hidden mb-6">
      <%= link_to 'RSVP for free', 'https://radius.to/groups/toronto-ruby/events/bskxhdeqs6pq', class: 'rounded-full bg- px-4 py-2.5 font-semibold text-white/100 shadow-sm ring-1 ring-inset ring-ruby hover:bg-gray-50' %>
    </div>
    <h3>Sponsor</h3>
    <div class="flex justify-center items-center">
      <%= link_to 'https://www.financeit.io/', class: "max-w-48 max-h-20" do %>
        <%= image_tag "sponsors/financeit.png", alt: "FinanceIt Logo", class: 'max-w-48' %>
      <% end %>
    </div>
  </div>
</div>
