<div class="p-3 border rounded border-solid border-black">
  <div class="md:flex text-left">
    <div class="w-full md:w-1/2 my-8">
      <h2 class="mb-2">November 23<sup>rd</sup>, 2023</h2>
      <p>
      6:00pm - 8:00pm<br />
      <a href="https://www.google.com/maps/place/51+Wolseley+St,+Toronto,+ON+M5T+1A5/@43.6481382,-79.4049331,17z/data=!3m1!4b1!4m6!3m5!1s0x882b34dd85e49071:0x37766acfab302020!8m2!3d43.6481382!4d-79.4023582!16s%2Fg%2F11bw4f01z9?entry=ttu" target="_blank">51 Wolseley St, Toronto, ON M5T 1A5</a><br />
      Lower level, enter through the door on Wolseley St.
      </p>
      <p>Pizza and drinks provided.</p>
    </div>

    <div class="w-full md:w-1/2 my-8">
      <h2 class="mb-2">Agenda</h2>

      <p class="mb-0"><em>6:00pm - 6:45pm</em></p>
      <p class="ml-4">
      Arrive, chat, and get pizza
      </p>

      <p class="mb-0"><em>6:45pm - 7:30pm</em></p>
      <div class="ml-4">
        <div class="w-4/5 mt-2">
          <p>Presentation:</p>
          <p class="mb-0"><strong>Integer#even?<br/>Going stupidly deep on pointless performance questions, but hopefully learning something fun along the way</strong></p>
          <p>by <a href="https://github.com/meagar">Matt Eagar</a>, Staff Engineer at <a href="https://affinity.co">Affinity.co</a></p>
        </div>
      </div>

      <p class="mb-0"><em>7:30pm - End</em></p>
      <p class="ml-4">
      Networking and drinks
      </p>

    </div>
  </div>
  <div class="mx-auto text-center">
    <h3>Sponsor</h3>
    <div class="flex justify-center items-center">
      <%= link_to 'https://switchgrowth.com' do %>
        <%= image_tag "sponsors/switch.png", class: 'max-h-20' %>
      <% end %>
    </div>
  </div>
</div>

