<div class="mx-auto text-center">
  <h3>Supporting Companies</h3>
  <div class="flex justify-center items-center">
    <%= link_to 'https://switchgrowth.com' do %>
      <%= image_tag "sponsors/switch.png", class: 'max-h-20' %>
    <% end %>
    <%= link_to 'https://shopify.com' do %>
    <%= image_tag "sponsors/shopify.png", class: 'max-h-20' %>
  <% end %>
  </div>
</div>
