<% content_for :page_title do %>
  Home
<% end %>

<% content_for :page_description do %>
  Toronto Ruby is about building a community for Ruby users in the GTA and
  providing a positive space for everyone to connect, learn and grow. We're
  looking forward to seeing you!
<% end %>

<%= content_for :event_content do %>
  <%= render partial: "event", collection: @events %>

  <h2 class="hidden only:block text-center">We're planning our next outing, stay tuned!</h2>
<% end %>

<%= render partial: "layouts/event_layout" %>
