<%# For an upcoming event, make a "past_event" and use the partial here %>
<%# Otherwise, use the messaging below %>
<h2>We're planning our next outing for 2024, stay tuned!</h2>
<p>We're excited you're here, let's keep in touch!</p>
