<%# For an upcoming event, make a "past_event" and use the partial here %>
<%# Otherwise, use the messaging below %>
<div class="md:flex text-left">
  <div class="w-full md:w-1/2 my-8">
    <h2 class="mb-2">January 24<sup>th</sup>, 2024</h2>
    <p>
    6:00pm - 9:00pm<br />
    <a href="https://www.google.com/maps/place/410+Adelaide+St+W,+Toronto,+ON+M5V+1S8/@43.6467271,-79.3993409,17z/data=!3m1!4b1!4m6!3m5!1s0x882b34dbf3c7d263:0xf469182d93c9bd7f!8m2!3d43.6467232!4d-79.396766!16s%2Fg%2F11c5bz5nx2?entry=ttu" target="_blank">500-410 Adelaide Street West, Toronto, ON M5V 1S8</a><br />
    </p>
    <p>Pizza and drinks provided.</p>
  </div>

  <div class="w-full md:w-1/2 my-8">
    <h2 class="mb-2">Agenda</h2>

    <p class="mb-0"><em>6:00pm - 7:00pm</em></p>
    <p class="ml-4">
    Arrive, chat, and get pizza
    </p>

    <p class="mb-0"><em>7:00pm - 7:30pm</em></p>
    <div class="ml-4">
      <div class="w-4/5 mt-2">
        <p>Presentation:</p>
        <p class="mb-0"><strong>Rails and the Ruby Garbage Collector: How to Speed Up Your Rails App</strong></p>
        <p>by <a href="https://peterzhu.ca/">Peter Zhu</a>, Senior Developer at <a href="https://shopify.engineering/">Shopify</a>, Ruby Core
      </div>
    </div>

    <p class="mb-0"><em>7:30pm - End</em></p>
    <p class="ml-4">
    Networking and drinks
    </p>


  </div>
</div>
<div class="mx-auto text-center">
  <div class="mb-6">
    <%= link_to 'RSVP for free', 'https://radius.to/toronto-ruby/events/nkn3vrxhklze', class: 'rounded-full bg- px-4 py-2.5 font-semibold text-white/100 shadow-sm ring-1 ring-inset ring-ruby hover:bg-gray-50' %>
  </div>
  <br>
  <h3>Sponsor</h3>
  <div class="flex justify-center items-center">
    <%= link_to 'https://www.bankonloop.com/' do %>
      <%= image_tag "sponsors/loop.png", class: 'max-h-20' %>
    <% end %>
  </div>
</div>

