<main class="text-center p-3 max-w-screen-xl md:max-w-screen-md">
  <div class="flex flex-col gap-6">
    <div class="text-center">
      <p>
        Toronto Ruby is organized by <a class="underline text-ruby" href="https://crespire.dev/">Simmon Li</a> and <a class="underline text-ruby" href="https://georg.es/">Georges Gabereau</a>.
      </p>
      <p>
        Find us on <a class="underline text-ruby" href="https://github.com/toronto-ruby">Github</a>!
      </p>
    </div>
  </div>
</main>
<% content_for :page_title do %>
About
<% end %>
<% content_for :page_description do %>
About the organizers.
<% end %>
