<main class="text-center p-3 max-w-screen-xl md:max-w-screen-md">
  <div class="flex flex-col gap-6">
    <div class="coc text-left">
      <h1 class="mt-4">Toronto Ruby Code of Conduct</h1>
      <h2 class="mt-6 mb-2">Table of Contents</h2>
      <ul class="pl-6">
        <li><a href="#1-purpose">1. Purpose</a></li>
        <li><a href="#2-open-sourceculturetech-citizenship">2. Open Source/Culture/Tech Citizenship</a></li>
        <li><a href="#3-expected-behaviour">3. Expected Behaviour</a></li>
        <li><a href="#4-unacceptable-behaviour">4. Unacceptable Behaviour</a></li>
        <li><a href="#5-consequences-of-unacceptable-behaviour">5. Consequences of Unacceptable Behaviour</a></li>
        <li><a href="#6-if-you-witness-or-are-subject-to-unacceptable-behaviour">6. If You Witness or Are Subject to Unacceptable Behaviour</a></li>
        <li><a href="#7-addressing-grievances">7. Addressing Grievances</a></li>
        <li><a href="#8-scope">8. Scope</a></li>
        <li><a href="#9-contact-information">9. Contact Information</a></li>
        <li><a href="#10-license-and-attribution">10. License and attribution</a></li>
      </ul>

      <h2 id="1-purpose" class="mt-6 mb-2">1. Purpose</h2>
      <p>A primary goal of Toronto Ruby is to be inclusive to the largest number of contributors, with the most varied and diverse backgrounds possible. As such, we are committed to providing a friendly, safe and welcoming environment for all, regardless of gender, gender identity, sexual orientation, ability, ethnicity, socioeconomic status, and religion (or lack thereof).</p>

      <p>This code of conduct outlines our expectations for all those who participate in our community, as well as the consequences for unacceptable behavior.</p>

      <p>We invite all those who participate in Toronto Ruby to help us create safe and positive experiences for everyone.</p>

      <h2 id="2-open-sourceculturetech-citizenship" class="mt-6 mb-2">2. Open Source/Culture/Tech Citizenship</h2>
      <p>A supplemental goal of this Code of Conduct is to increase open [source/culture/tech] citizenship by encouraging participants to recognize and strengthen the relationships between our actions and their effects on our community.</p>

      <p>Communities mirror the societies in which they exist and positive action is essential to counteract the many forms of inequality and abuses of power that exist in society.</p>

      <p>If you see someone who is making an extra effort to ensure our community is welcoming, friendly, and encourages all participants to contribute to the fullest extent, we want to know.</p>

      <h2 id="3-expected-behaviour" class="mt-6 mb-2">3. Expected Behaviour</h2>
      <p>
        <ul class="pl-6 list-disc">
          <li>Participate in an authentic and active way. In doing so, you contribute to the health and longevity of this community.</li>
          <li>Exercise consideration and respect in your speech and actions.</li>
          <li>Attempt collaboration before conflict.</li>
          <li>Refrain from demeaning, discriminatory, or harassing behavior and speech.</li>
          <li>Be mindful of your surroundings and of your fellow participants. Alert community leaders if you notice a dangerous situation, someone in distress, or violations of this Code of Conduct, even if they seem inconsequential.</li>
        </ul>
      </p>

      <h2 id="4-unacceptable-behaviour" class="mt-6 mb-2">4. Unacceptable Behaviour</h2>
      <p>Unacceptable behaviors include: intimidating, harassing, abusive, discriminatory, derogatory or demeaning speech or actions by any participant in our community online, at all related events and in one-on-one communications carried out in the context of community business. Community event venues may be shared with members of the public; please be respectful to all patrons of these locations.</p>

      <p>Harassment includes: harmful or prejudicial verbal or written comments related to gender, sexual orientation, race, religion, disability; inappropriate use of nudity and/or sexual images in public spaces (including presentation slides); deliberate intimidation, stalking or following; harassing photography or recording; sustained disruption of talks or other events; inappropriate physical contact, and unwelcome sexual attention.</p>

      <h2 id="5-consequences-of-unacceptable-behaviour" class="mt-6 mb-2">5. Consequences of Unacceptable Behaviour</h2>
      <p>Unacceptable behavior from any community member, including sponsors and those with decision-making authority, will not be tolerated.</p>

      <p>Anyone asked to stop unacceptable behavior is expected to comply immediately. If a community member engages in unacceptable behavior, the community organizers may take any action they deem appropriate, up to and including a temporary ban or permanent expulsion from the community without warning (and without refund in the case of a paid event).</p>

      <h2 id="6-if-you-witness-or-are-subject-to-unacceptable-behaviour" class="mt-6 mb-2">6. If You Witness or Are Subject to Unacceptable Behaviour</h2>
      <p>If you are subject to or witness unacceptable behavior, or have any other concerns, please notify a community organizer as soon as possible.</p>

      <p>Additionally, community organizers are available to help community members engage with local law enforcement or to otherwise help those experiencing unacceptable behavior feel safe. In the context of in-person events, organizers will also provide escorts as desired by the person experiencing distress.</p>

      <h2 id="7-addressing-grievances" class="mt-6 mb-2">7. Addressing Grievances</h2>
      <p>If you feel you have been falsely or unfairly accused of violating this Code of Conduct, you should notify a Toronto Ruby organizer with a concise description of your grievance. Your grievance will be handled in accordance with our existing governing policies.</p>

      <h2 id="8-scope" class="mt-6 mb-2">8. Scope</h2>
      <p>We expect all community participants (contributors, paid or otherwise; sponsors; and other guests) to abide by this Code of Conduct in all community venues—online and in-person—as well as in all one-on-one communications pertaining to community business.</p>

      <h2 id="9-contact-information" class="mt-6 mb-2">9. Contact Information</h2>
      <p>If you believe that someone is violating the code of conduct, or have any other concerns, please contact a Toronto Ruby organizer or event staff immediately. They can be reached by emailing <a href="mailto:info@toronto-ruby.com">info@toronto-ruby.com</a>.</p>

      <p>In case of a conflict of interest, you can reach out to the organizers individually. More information for individual contacts can be found on the <a href="/about">about page</a>.</p>

      <h2 id="10-license-and-attribution" class="mt-6 mb-2">10. License and Attribution</h2>
      <p>Toronto Ruby Code of Conduct is distributed under a Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) license. It is based on the <a href="https://pdxruby.org/CONDUCT" target="_blank">pdx.rb Code of Conduct</a>.</p>
    </div>
  </div>
</main>
<% content_for :page_title do %>
Code of Conduct
<% end %>
<% content_for :page_description do %>
Toronto Ruby's Code of Conduct
<% end %>
