<main class="text-center p-3 max-w-screen-xl md:max-w-screen-md">
  <div class="flex flex-col gap-6">
    <div class="text-center">
      <h1>
        Monthly meetups for Toronto's Ruby community
      </h1>

      <p>We're a group of Ruby developers who meet up to talk about programming, the industry, and life. We're working to strengthen the local Ruby community and provide a positive space for everyone to connect.</p>
    </div>
    <div class="text-center flex flex-col gap-3">
      <%# For an upcoming event, make a "past_event" and use the partial here %>
      <%# Otherwise, use the placeholder partial %>
      <%#=  render 'event_placeholder' %>
      <%= render 'static/past_events/2024_may22' %>

      <div class="mx-auto w-4/5 md:w-2/3">
        <%= render 'newsletter_form' %>
      </div>
    </div>
    <%= render 'supporting_companies' %>
  </div>
</main>

<% content_for :page_title do %>
Home
<% end %>

<% content_for :page_description do %>
Toronto Ruby is about building a community for Ruby users in the GTA and providing a positive space for everyone to connect, learn and grow. We're looking forward to seeing you!
<% end %>
