<main class="text-center p-3 max-w-screen-xl md:max-w-screen-md">
  <div class="flex flex-col gap-3">
    <div class="text-center">
      <h1>
        Our Past Events
      </h1>
    </div>

    <div class="grid">
      <%= render 'static/past_events/nov23' %>
    </div>
  </div>
</main>
<% content_for :page_title do %>
Past events
<% end %>
<% content_for :page_description do %>
A listing of our past events.
<% end %>
